.single {
  width: 100%;
  display: flex;

  &__left {
    width: 70%;
  }

  &__right {
    display: flex;
    flex-direction: column;
  }

  &__card {
    width: 90%;
    margin: 30px 0;

    &--card {
      background-color: #eeeeee;
    }

    &--link {
      text-transform: none;
      color: #222831;
      text-decoration: underline;
    }
  }

  &__invite {
    width: 90%;
  }
  &__panel {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #eeeeee;
  }

  &__input {
    margin-bottom: 20px;
    width: 100%;
  }
}

.p-fieldset-legend {
  background-color: #222831 !important;
  color: #fff !important;
}
