.project__create {
  width: 100%;
  display: block;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-top: 50px;
}
.create__card {
  background-color: #222831;
  box-shadow: 0.5px 0.5px 7px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 60%;
  height: 70%;
  margin: auto;
}

.create__button {
  margin-top: 50px;
}

.project__input {
  margin-top: 40px;
  width: 80%;
}

.project__textarea {
  width: 80%;
  margin-top: 40px;
  border-radius: 2px;
}

.p-button {
  margin-bottom: 10px;
  margin-left: 10px;
}

.inputtext__error {
  border: 1px solid red;
  margin-top: 40px;
  width: 80%;
}

.label__error {
  color: red;
}

.woooork {
  display: flex;
  flex-direction: column;
}

.label {
  align-self: flex-start;
}
