.container {
  display: flex;
  flex-direction: column;
  background-color: #222831;
  height: 100vh;
}

.card {
  text-align: center;
  background-color: #eeeeee;
  color: white;
  border-radius: 0;

  &__logo {
    width: 75px;
    height: 75px;
  }

  h3 {
    color: #2e2d41;
  }

  h5 {
    color: #2e2d41;
  }
}

.menu {
  width: 300px;
  border-radius: 0;
}

.logout {
  margin-top: auto;
  margin-bottom: 5px;
}

.card__avatar {
  width: 100px;
  height: 100px;
}

.p-panelmenu .p-panelmenu-panel:first-child .p-panelmenu-header > a {
  border-radius: 0;
}

.p-panelmenu .p-panelmenu-header > a {
  border: none;
  background-color: #222831;
  color: #fff;
}

.nav {
  display: none;
}

@media screen and (max-width: 750px) {
  .card {
    display: none;
  }

  .menu {
    display: none;
  }
  .logout {
    display: none;
  }

  .nav {
    display: block;
    &__menu--closed {
      display: block;
      background-color: #222831;
      border-radius: 100%;
      padding: 3px;
      position: fixed;
      right: 20px;
      top: 20px;
      font-size: 40px;
      color: white;
      cursor: pointer;
    }

    &__menu--opened {
      background-color: #222831;
      height: 100vh;
      position: fixed;
      z-index: 100;
      width: 100%;
    }
  }

  .opened__icon {
    background-color: #222831;
    border-radius: 100%;
    padding: 3px;
    position: fixed;
    right: 20px;
    top: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
  }

  .opened__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-size: 25px;
    margin-top: 70px;
  }

  .opened__link {
    color: white;
    margin-top: 15px;
  }
}
